/* variableS ------------------------------------*/
:root {
  --bg: pink;
  --text: #222;
  --primary: maroon;

  --card: blanchedalmond;
  --input-bg: antiquewhite;
  --border: #ddd;

  --shadow: 0 2px 8px rgba(0,0,0,0.1);

  --radius-sm: 10px;
  --radius-md: 15px;

  --transition: 0.2s ease;
  --font: "Macondo", cursive;
}

/* reset ------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base ------------------------------------*/
body {
  background-color: var(--bg);
  margin: 0;
  min-height: 100vh;
  color: var(--text);
  user-select: none;
  font-size: clamp(.7rem, 1.6vw, 4rem);
  font-family: var(--font);
}

footer, header{
  width: 99.6vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover{
  color: maroon;
  font-weight: 900;
  font-size: clamp(.9rem, 1.9vw, 4.2rem);
}

/* headings ------------------------------------*/
h1 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
}

/* links ------------------------------------*/
a {
  text-decoration: none;
  color: black;
  transition: var(--transition);
}

a:hover {
  font-weight: 600;
  color: var(--primary);
  transform: scale(1.02);
}

/* buttons ------------------------------------*/
button {
  border: none;
  background-color: var(--card);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--font);
}

button:hover {
  transform: scale(1.02);
  color: var(--primary);
}

/* inputs ------------------------------------*/
input,
textarea {
  border: 1px solid var(--border);
  background-color: var(--input-bg);
  padding: 10px;
  border-radius: var(--radius-sm);
  width: 100%;
  outline: none;
  font-family: var(--font);
}

/* post card ------------------------------------*/
.box {
  background-color: var(--card);
  padding: 15px;
  margin: 15px auto;
  border-radius: var(--radius-md);
  max-width: 700px;
  box-shadow: var(--shadow);
}

/* utilites ------------------------------------*/
.btn {
  padding: 10px 15px;
  display: inline-block;
}

.alignR {
  text-align: right;
}

.inline {
  display: inline;
}

.span {
  padding: 5px 10px;
  background-color: var(--input-bg);
  border-radius: var(--radius-sm);
}

/* float action button ------------------------------------*/
#add {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background: var(--card);
  border-radius: var(--radius-sm);
}

/* form wrapper ------------------------------------*/
.newForm {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

/* web tool kit ------------------------------------*/
::-webkit-scrollbar {
  width: .4vw;
}

::-webkit-scrollbar-thumb {
  background: maroon;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2b7;
}